#ical-inout {
	margin-bottom: 1rem
}

#configform input[type="submit"] {
	float: right;
	margin-top: 1rem;
}
#configform .clr {
	clear:both;
}





cfg-tabs {
	display: block;
	clear: both;
	margin-bottom: 0.75rem;
}

/* Style the tab */
cfg-tabs .tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: fit-content;
	border-bottom: none;
}

/* Style the buttons inside the tab */
cfg-tabs .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 4px 12px;
	transition: 0.3s;
	font-size: 17px;
	opacity: .5;
	border-right: 1px solid #CCC;
}
cfg-tabs .tab button:last-child {
	border-right: none;
}

/* Change background color of buttons on hover */
cfg-tabs .tab button:hover {
	background-color: #ddd;
	opacity: .7;
}

/* Create an active/current tablink class */
cfg-tabs .tab button.active {
	background-color: #ccc;
	opacity: 1;
}

/* Style the tab content */
cfg-tabs .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
/*	border-top: none;	*/
}

/* Style some tab content elements */
cfg-tabs .numer {
	width: 4em;
}
#scales .numer, #dateform input {
	margin-bottom: .5rem;
}
#modes .grid2 {
	display: inline-grid;
	grid-template-columns: auto auto;
	column-gap: 2rem;
}
#category div {
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto;
	column-gap: 1rem;
}
.catsamp {
	padding: 0 8px;
	margin-bottom: 6px;
}
#category div.addicon, #alertee div.addicon {
	display: block;
	margin-top: .75rem;
	width: 16px;
	height: 16px;
	background:#eee url(../static/plusbut.png) no-repeat;
	cursor: pointer;
}
#alertee div {
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 1rem;
}
.tabcontent .gcent {
	text-align: center;
}




#configform p.subtitl {
	font-weight: bold;
	margin-top: 0;
	line-height: initial;
}


div.userschedver {
	color: #999;
	font-size: 0.6em;
	line-height: 1;
	padding-top: 2px;
}
