table.ev_table {
	width: 100%;
	border-spacing: 0 0.5rem;
	border-collapse: inherit;
}
table.ev_table tr, table.ev_table td {
	border: none;
}
table.ev_table td {
	background-color: #FFF;
	border-width: 0 0 2px 6px;
	border-color: #C7D6DC;
	border-style: solid;
}
li.ev_td_li {
	margin-right: 2rem;
	line-height: 1.3rem;
}
li.ev_td_li .usch-alert {
	color: red;
	margin-left: 0.5rem;
}
div.userschedver {
	color: #999;
	font-size: 0.6rem;
	line-height: 1;
}
table.ev_table .evt-desc {
	line-height: 2rem;
	font-weight: bold;
}
table.ev_table ul {
	margin-bottom: 0;
}